# Unity generated folders/files
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/.vs/
**/.gradle/
**/ExportedObj/
**/.consulo/

# Unity cache files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Crash reports
**/sysinfo.txt

# Builds
**/*.apk
**/*.aab
**/*.unitypackage
**/*.unitypackage.meta
**/*.app

# Logs
*.log

# Crashlytics
**/crashlytics-build.properties

# Addressables
**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary Android Assets
**/[Aa]ssets/[Ss]treamingAssets/aa.meta
**/[Aa]ssets/[Ss]treamingAssets/aa/*

# Memory/Recording captures
**/[Mm]emoryCaptures/
**/[Rr]ecordings/

# Rider plugin
**/[Aa]ssets/Plugins/Editor/JetBrains*

# Optional Asset Store tools
# **/[Aa]ssets/AssetStoreTools*

# VSCode settings (optional)
**/.vscode/
